@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
    background-color: white;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-image: url(https://cdn.wallpapersafari.com/28/19/obxBz5.png);
}

h1 {
    font-size: 60px;
    font-weight: bolder;
}



.fullPage {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.navbar-brand {
    padding-left: 400px;
    font-size: 100px;
}
.navbar-nav {
    font-size: 35px;
}
.bioPhoto {
    max-width: 100%;
    height: auto;
    border-radius: 75%;
    margin-left: 90px;
}
.card-body-about {
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 5px;
    margin-right: 5px;
    color:whitesmoke;
    background-color: rgba(1, 21, 22, 0.568);
    
    h1 {
        font-size: 60px;
    }
    
    .card-title {
        font-family: 'Quicksand', sans-serif;
        font-weight: bolder;
        color: whitesmoke;
    }
    
    }
.card-text {
    font-family: 'Quicksand', sans-serif;
    padding: 20px;
    font-size: 40px;
    }

.tech-list {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    list-style-type:none;
}
.card-title-tech {
    font-family: 'Quicksand', sans-serif;
    color: rgba(1, 21, 22, 0.568);
    text-align: center;
    margin-bottom: 5px;
}
.technology-container {
    display: flex;
    flex-wrap: row;    
    .techImages {
       max-width: 100px;
       max-height: 100px;
       border-radius: 50%;
       margin: 2px;
    }
    .tech-list{
        font-size: 25px;
    }
    li {
        margin: 10px;
    }
}

.projects {
    background-color: rgba(1, 21, 22, 0.568);
    .project-title {
        font-family: 'Quicksand', sans-serif;
        color: whitesmoke;
        h1 {
            font-size: 60px;
            font-weight: bolder;
        }
    }
}

.contact-info {
    h1 {
        font-weight: bolder;
        font-size: 50px;
        font-family: 'Quicksand', sans-serif;
    }
    font-size: 35px;
    text-align: center;
    font-weight: bolder;
}
