@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
    background-color: white;
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-image: url(https://cdn.wallpapersafari.com/28/19/obxBz5.png);
}

.card-title-tech {
    font-size: 30px;
}

.contact {
    h4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
}

.card-body-about {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 2px;
    margin-right: 2px;
    color:black;
    font-size: 25px;
    background-color: rgba(1, 21, 22, 0.568);

}

.fullPage {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.biophoto {
    max-width: 80px;
    max-height: 80px;
    border: black solid 1px;
    border-radius: 100%;
    margin-left: 100px;
}
.technology {

    .technology-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    
    .techImages {
        border: lightgray solid 1px;
        border-radius: 15px;
    }
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    justify-content: space-evenly;
}



.projects {
    background-color: rgba(1, 21, 22, 0.568);
    .project-title {
        color: white;
    }
}
