@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
    background-color: aquamarine;
    font-family: 'Nunito', sans-serif;
}

#navlinks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
