.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  color: white;
  background-color: rgba(1, 21, 22, 0.95);
  font-size: 20px;
}
.card:hover .overlay {
  opacity: 1;
}
.card-description {
  p {
    padding: 10px;
  }

}
